<div class="container-producto">
    <h2>{{product.cod}} - {{product.nombre}}</h2>
    <img src="/img/{{product.thumbnail}}" alt="Imagen del producto" height="100px" width="100px">
    <h3>Precio: ${{product.precio}}</h3>
    <h3>Descripcion: {{product.descripcion}}</h3>
    <p>Ruta del archivo: {{product.thumbnail}}</p>
</div>

